In [15]:
from datetime import datetime
from dateutil.relativedelta import relativedelta

In [7]:
from IPython.display import HTML

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

from matplotlib import pyplot as plt
%matplotlib inline

import scipy.stats as st
from scipy.stats import normaltest, skewtest, probplot, boxcox

In [2]:
import pyodbc 
server = '10.46.64.204' 
database = 'DRPZ_ReportsDB' 
username = 'Shiryaeva_EI' 
password = 'Rosbank11348' 

cnxn = pyodbc.connect('DRIVER={SQL Server};SERVER='+server+';DATABASE='+database+';UID='+username+';PWD='+ password)
cursor = cnxn.cursor()

In [28]:
stmt = "select * from SG_MART.dbo.kbi_mart_new t  " 
# stmt = "SELECT * FROM dbo.boo_filials_new " 
df = pd.read_sql_query(stmt, cnxn)
 
df.to_html('filename.html', classes='table table-striped')
df["VAR"] = df["VAR"]/1000000
df["VAR_REG"] = df["VAR_REG"]/1000000

In [42]:
dt_from = (datetime.today() - relativedelta(months=4)) 
df_rb = df[(df["bank"] == "RB") & (df["REP_MONTH"] >= dt_from) & 
           (df["bucket"].isin(["Cumulative 1-30", "Cumulative 1-90", "Cumulative 1-180", "CBR 180+", "CBR 181-720", "CBR 720+"] ))]

In [63]:
df_html = df_rb[["bucket", "REP_MONTH", "NUM", "VAR", "NUM_REG", "VAR_REG"]].groupby(by = [ "REP_MONTH", "bucket"]).sum()

In [65]:
df_html

                               NUM           VAR  NUM_REG       VAR_REG
REP_MONTH  bucket
2019-06-01 CBR 180+          38911  14757.255746     9701    199.673159
           CBR 181-720       15873   4880.500997     2544     55.416817
           CBR 720+          23038   9876.754749     7157    144.256342
           Cumulative 1-180  47592  14775.453152    46521  14389.456639
           Cumulative 1-30   60217  17181.703276    56960  16167.220705
           Cumulative 1-90   44628  14389.500887    43211  13791.696231
2019-07-01 CBR 180+          38592  14609.268310     9843    210.178251
           CBR 181-720       15762   4957.204278     2627     70.210271
           CBR 720+          22830   9652.064032     7216    139.967980
           Cumulative 1-180  71081  18117.007478    68920  17553.264447
           Cumulative 1-30   43148  14064.773495    40884  13262.518873
           Cumulative 1-90   70361  18220.224192    67542  17395.556123
2019-08-01 CBR 180+          39455  14746.926132     9463    159.515358
           CBR 181-720       16710   5227.694766     2635     62.784680
           CBR 720+          22745   9519.231365     6828     96.730678
           Cumulative 1-180  58965  16377.341921    57194  15828.341171
           Cumulative 1-30   74749  19526.516178    70368  18358.617754
           Cumulative 1-90   60217  17181.703276    58248  16535.002677
2019-09-01 CBR 180+          36517  13394.479332     2278     36.847173
           CBR 181-720       17487   5630.666932      757     16.503708
           CBR 720+          19030   7763.812400     1521     20.343466
           Cumulative 1-180  44628  14389.500887    43391  13866.824703
           Cumulative 1-30   45954  15815.937106    41813  14302.047052
           Cumulative 1-90   43148  14064.773495    41677  13518.355584

In [60]:
df_html["ER_VAR"] = df_html["VAR_REG"]/df_html["VAR"]
df_html["ER_NUM"] = df_html["NUM_REG"]/df_html["NUM"]


df_html = df_html[["NUM", "VAR", "ER_VAR", "ER_NUM"]].sort_index( ascending=False)
df_html.to_html("filename.html" , formatters={
    'ER_VAR': '{:,.2%}'.format,
    'ER_NUM': '{:,.2%}'.format,
    'VAR': '{:,.2f}'.format,
    'VAR_REG': '{:,.2f}'.format 
})